<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Sraap</title>
</head>
<body>
	<ul class="nav navbar-nav">
		<li><a href="/atividades">Atividades</a></li>
		<li><a href="/alunos">Alunos</a></li>
		<li><a href="/professores">Professores</a></li>
		<li><a href="/turmas">Turmas</a></li>
	</ul>
	
	<ul class="nav navbar-nav">
		<li><a href="/nova-atividade">Nova atividade</a></li>
		<li><a href="/nova-turma">Nova turma</a></li>
		
	</ul>

	<form action="/logout" method="post">
		<button type="submit">Sair</button>
	</form>
</body>
</html>